<form class="max-w-2xl mx-auto mt-4">
  <div class="relative flex">
    <!-- Botón principal del dropdown -->
    <button
      id="languages-button"
      data-dropdown-toggle="dropdown-language"
      class="shrink-0 z-10 inline-flex items-center py-2 px-3 text-sm font-medium text-gray-800 dark:text-gray-100 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-200"
      type="button"
    >
      <img [src]="currentLang().flag" alt="flag" width="18" height="18" />
      <span class="ms-2">{{ currentLang().lang | uppercase }}</span>
      <svg
        class="w-2.5 h-2.5 ms-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>

    <!-- Dropdown -->
    <div
      id="dropdown-language"
      class="absolute left-0 z-20 hidden divide-y divide-gray-200 dark:divide-gray-700 rounded-lg shadow-lg bg-white dark:bg-gray-800 w-fit mt-1"
    >
      <ul class="py-2 text-sm text-gray-800 dark:text-gray-100" aria-labelledby="languages-button">
        @for (languaje of availableLangs(); track $index){
        <li>
          <button
            type="button"
            class="flex w-full items-center px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg transition-colors duration-200"
            (click)="onLanguageChange(languaje.lang)"
          >
            <img [src]="languaje.flag" alt="flag" width="18" height="18" />
            <span class="ms-2">{{ languaje.lang | uppercase }}</span>
          </button>
        </li>
        }
      </ul>
    </div>
    <label for="languages" class="sr-only">Choose a language</label>
  </div>
</form>
